@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.img {
    display: grid;
    place-items: center;
    margin: 30px;

}

.valen h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins';
}

h2{
    text-align: center;
    font-family: 'Poppins';
}